    {% extends "model-page.html" %}

    {% block content %}

    <h2>Evento</h2>

    <form action="submit" method="POST"> {% csrf_token %}
        <label>Título</label>
        <br>
        <input type="text" name="titulo" size="24">
        <br><br>
        <label>Data Evento:</label>
        <br>
        <input type="date" name="data_evento"> <input type="time" name="hora_evento" >
        <br><br>
        <label>Local</label>
        <br>
        <input type="text" name="locale">
        <br>
        <label>Descrição</label>
        <br>
        <textarea name="descricao" rows="5" cols="37"></textarea>
        <br><br><br>
        <button type="submit">Salvar</button>
        <a href="/">
            <button type="button">Cancelar</button>
        </a>
    </form>

    {% endblock %}