    {% extends "model-page.html" %}

    {% block content %}

    <h2>Evento</h2>

    <form action="submit" method="POST"> {% csrf_token %}
        <label>Título</label>
        <input type="number" name="id_evento"value="{{ evento.id }}" hidden>
        <br>
        <input type="text" name="titulo" size="24" value="{{ evento.titulo }}">
        <br><br>
        <label>Data Evento:</label>
        <br>
        <input type="date" name="data_evento" value="{{ evento.get_data_input_evento }}">
        <input type="time" name="hora_evento" value="{{ evento.get_hora_input_evento }}">
        <br><br>
        <label>Local</label>
        <br>
        <input type="text" name="locale" value="{{ evento.localidade }}">
        <br>
        <label>Descrição</label>
        <br>
        <textarea name="descricao" rows="5" cols="37">{{ evento.descricao }}</textarea>
        <br><br><br>
        <button type="submit">Salvar</button>
        <a href="/">
            <button type="button">Cancelar</button>
        </a>
    </form>

    {% endblock %}